APP_NAME=cTrader Bot API
ENV=dev
DEBUG=true

CTRADER_CLIENT_ID=tu_client_id
CTRADER_CLIENT_SECRET=tu_client_secret
CTRADER_REDIRECT_URI=http://localhost:3000/callback
CTRADER_ACCOUNT_ID=12345678
CTRADER_TRADER_ACCOUNT_ID=12345678
CTRADER_ENV=demo
CTRADER_API_BASE_URL=https://api.spotware.com
CTRADER_ACCESS_TOKEN=tu_access_token
CTRADER_REFRESH_TOKEN=tu_refresh_token

DATABASE_URL=postgresql://user:pass@host:5432/dbname?sslmode=require
